Repository Tinkoff/dm-knowledgebase, pull requests merged in 2023-08, with the labels that each got.

#46 docs(roadmap): Добавлено описание метода Монте-Карло
  docs/roadmap/management/job/tasks/planning/_category_.yml
  docs/roadmap/management/job/tasks/planning/assets/Monte-Carlo-Burndown-chart-full.jpg
  docs/roadmap/management/job/tasks/planning/assets/Monte-Carlo-Burndown-chart.jpg
  docs/roadmap/management/job/tasks/planning/assets/Monte-Carlo-Result-Probably.png
  docs/roadmap/management/job/tasks/planning/assets/Monte-Carlo-S-Curve.png
  docs/roadmap/management/job/tasks/planning/assets/Monte-Carlo-Throughput.png
  docs/roadmap/management/job/tasks/planning/assets/Monte-Carlo-with-risks.png
  docs/roadmap/management/job/tasks/planning/assets/Monte-carlo-all-experiments.png
  docs/roadmap/management/job/tasks/planning/assets/monte-carlo-method.module.css
  docs/roadmap/management/job/tasks/planning/monte-carlo-method.md
  docusaurus.config.js
  package.json
  yarn.lock
Labels: documentation, scope: roadmap

#48 feat: Отображение имени автора статьи
  docusaurus.config.js
Labels: feature

#49 Исправления к странице Монте-Карло
  docs/roadmap/management/job/tasks/planning/monte-carlo-method.md
Labels: documentation, scope: roadmap

#50 blog: Уточнили по обновлению Карты развития
  blog/2023-07-31-version-2/index.mdx
Labels: blog
